
<!DOCTYPE HTML>
<html>
<head>
<title>Mi primera pagina web</title>
</head>

<body>
  <div class="main-content" >
        <h1>Inicio Primer periodo</h1>
      <input type="date" [ngModel] ="f1 | date:'yyyy-MM-dd'" (ngModelChange)="dt = $event">

      <h1>Fin Primer periodo</h1>
      <input type="date" [ngModel] ="f2 | date:'yyyy-MM-dd'" (ngModelChange)="dt = $event">
  </div>


  <div class="main-content" >
        <h1>Inicio Segundo periodo</h1>
      <input type="date" name="fecha">

      <h1>Fin Segundo periodo</h1>
      <input type="date" name="fecha">
  </div>
</body>
</html>
