<div id="map">

  <table  class="table table-striped" border="1">

    <tr>
      <td> Periodo</td>
      <td> Primer Periodo</td>
      <td> Segundo Periodo</td>
    </tr>
    <tr>
      <td> Capital neto de trabajo </td><!--restando los activos corrientes al pasivo corriente-->
      <td style="text-aling:right"> {{(((_global.Efectivo1 + _global.cuentasPorCobrar1 + _global.inventarios1) - _global.cuentasPorPagar1)).toFixed(3) }}  </td>
      <td style="text-aling:right"> {{((_global.Efectivo2 + _global.cuentasPorCobrar2 + _global.inventarios2) - _global.cuentasPorPagar2).toFixed(3) }}  </td>
    </tr>
     <tr>
       <td> Índice de solvencia </td><!--activo corriente/pasivo corriente-->
       <td style="text-aling:right"> {{( (_global.Efectivo1 + _global.cuentasPorCobrar1 + _global.inventarios1) / _global.cuentasPorPagar1 ).toFixed(3)}} </td>
       <td style="text-aling:right"> {{( (_global.Efectivo2 + _global.cuentasPorCobrar2 + _global.inventarios2) / _global.cuentasPorPagar2 ).toFixed(3)}} </td>
     </tr>
     <tr>
       <td> Prueba ácida </td><!--(Activo Corriente - Inventario) / Pasivo Corriente-->
       <td style="text-aling:right"> {{ (((_global.Efectivo1 + _global.cuentasPorCobrar1 + _global.inventarios1) - _global.inventarios1) / _global.cuentasPorPagar1 ).toFixed(3)}} </td>
       <td style="text-aling:right"> {{ (((_global.Efectivo2 + _global.cuentasPorCobrar2 + _global.inventarios2) - _global.inventarios2) / _global.cuentasPorPagar2 ).toFixed(3)}}  </td>
     </tr>
     <tr>
       <td> Rotación de inventarios </td><!--Ventas a precio de coste / Existencias medias-->
       <td style="text-aling:right"> {{ (_global.costoVentas1 / _global.inventarios1).toFixed(3) }} </td>
       <td style="text-aling:right"> {{ (_global.costoVentas2 / _global.inventarios2).toFixed(3) }} </td>
     </tr>
     <tr>
       <td> Rotación de cartera </td><!--Ventas a crédito/Promedio cuentas por cobrar-->
       <td style="text-aling:right"> {{ (_global.VentasCredito1 / _global.cuentasPorCobrar1).toFixed(3) }} </td>
       <td style="text-aling:right"> {{ (_global.VentasCredito2 / _global.cuentasPorCobrar2).toFixed(3) }} </td>
     </tr>
     <tr>
       <td> Rotación de cuentas por pagar </td><!--(Compras anuales a crédito/Promedio de cuentas por pagar)-->
       <td style="text-aling:right"> {{ (_global.ComprasCredito1 / _global.cuentasPorPagar1).toFixed(3) }} </td>
       <td style="text-aling:right"> {{ (_global.ComprasCredito2 / _global.cuentasPorPagar2).toFixed(3) }} </td>
     </tr>




 </table>




</div>
