<div class="main-content" >
  <table  class="table table-striped" border="1">

    <tr>
      <td> Periodos</td>
      <td> Primer Periodo</td>
      <td> Segundo Periodo</td>
    </tr>
    <tr>
      <td> Ventas </td>
      <td style="text-aling:right"> {{_global.ventas1}}  </td>
      <td style="text-aling:right"> {{_global.ventas2}}  </td>
    </tr>
     <tr>
       <td> Costo de Ventas </td>
       <td style="text-aling:right"> {{_global.costoVentas1}}  </td>
       <td style="text-aling:right"> {{_global.costoVentas2}}  </td>
     </tr>


     <tr>
       <td> Utilidad bruta </td>
       <td style="text-aling:right"> {{_global.ventas1 - _global.costoVentas1}} </td>
       <td style="text-aling:right"> {{_global.ventas2 - _global.costoVentas2}} </td>
     </tr>
      <tr>
        <td> Gastos de operación </td>
        <td style="text-aling:right"> {{_global.gastosOperacion1}}  </td>
        <td style="text-aling:right"> {{_global.gastosOperacion2}}  </td>
      </tr>

      <tr>
        <td> Ut. antes int. e imp. </td>
        <td style="text-aling:right"> {{(_global.ventas1 - _global.costoVentas1) - _global.gastosOperacion1}} </td>
        <td style="text-aling:right"> {{(_global.ventas2 - _global.costoVentas2) - _global.gastosOperacion2}} </td>
      </tr>
       <tr>
         <td> Gastos financieros </td>
         <td style="text-aling:right"> {{_global.gastosfinancieros1}} </td>
         <td style="text-aling:right"> {{_global.gastosfinancieros2}} </td>
       </tr>
       <tr>
         <td> Utilidad neta </td>
         <td style="text-aling:right"> {{_global.utilidadNeta1}} </td>
         <td style="text-aling:right"> {{_global.utilidadNeta2}} </td>
       </tr>
       <tr>
         <td> Balance general </td>

       </tr>

       <tr>
         <td> Efectivo </td>
         <td style="text-aling:right"> {{_global.Efectivo1}}  </td>
         <td style="text-aling:right"> {{_global.Efectivo2}}  </td>
       </tr>
        <tr>
          <td> Cuentas por cobrar </td>
          <td style="text-aling:right"> {{_global.cuentasPorCobrar1}} </td>
          <td style="text-aling:right"> {{_global.cuentasPorCobrar2}} </td>
        </tr>
        <tr>
          <td> Inventarios </td>
          <td style="text-aling:right"> {{_global.inventarios1}} </td>
          <td style="text-aling:right"> {{_global.inventarios2}} </td>
        </tr>

        <tr>
          <td> Total activo circulante </td>
          <td style="text-aling:right"> {{_global.Efectivo1 + _global.cuentasPorCobrar1 + _global.inventarios1}}  </td>
          <td style="text-aling:right"> {{_global.Efectivo2 + _global.cuentasPorCobrar2 + _global.inventarios2}}  </td>
        </tr>
         <tr>
           <td> Activo fijo neto </td>
           <td style="text-aling:right"> {{_global.activoFijoNeto1}} </td>
           <td style="text-aling:right"> {{_global.activoFijoNeto2}} </td>
         </tr>
         <tr>
           <td> Total activo </td>
           <td style="text-aling:right"> {{(_global.Efectivo1 + _global.cuentasPorCobrar1 + _global.inventarios1) + _global.activoFijoNeto1}} </td>
           <td style="text-aling:right"> {{(_global.Efectivo2 + _global.cuentasPorCobrar2 + _global.inventarios2) + _global.activoFijoNeto2}} </td>
         </tr>

         <tr>
           <td> Pasivo circulante </td>
           <td style="text-aling:right"> {{_global.pasivoCirculante1}} </td>
           <td style="text-aling:right"> {{_global.pasivoCirculante2}} </td>
         </tr>
         <tr>
           <td> Cuentas por pagar </td>
           <td style="text-aling:right"> {{_global.cuentasPorPagar1}} </td>
           <td style="text-aling:right"> {{_global.cuentasPorPagar2}} </td>
         </tr>

         <tr>
           <td> Pasivo a largo plazo </td>
           <td style="text-aling:right"> {{_global.pasivoAlargoPlazo1}}  </td>
           <td style="text-aling:right"> {{_global.pasivoAlargoPlazo2}}  </td>
         </tr>
          <tr>
            <td> Total pasivo </td>
            <td style="text-aling:right"> {{_global.cuentasPorPagar1 + _global.pasivoAlargoPlazo1}} </td>
            <td style="text-aling:right"> {{_global.cuentasPorPagar2 + _global.pasivoAlargoPlazo2}} </td>
          </tr>
          <tr>
            <td> Patrimonio </td>
            <td style="text-aling:right"> {{_global.Patrimonio1}} </td>
            <td style="text-aling:right"> {{_global.Patrimonio2}} </td>
          </tr>

          <tr>
            <td> Total pasivo mas Patrimonio </td>
            <td style="text-aling:right"> {{(_global.cuentasPorPagar1 + _global.pasivoAlargoPlazo1) +_global.Patrimonio1}} </td>
            <td style="text-aling:right"> {{(_global.cuentasPorPagar2 + _global.pasivoAlargoPlazo2) +_global.Patrimonio2}} </td>
          </tr>

          <tr>
            <td> Ventas a credito </td>
            <td style="text-aling:right"> {{_global.VentasCredito1}} </td>
            <td style="text-aling:right"> {{_global.VentasCredito2}} </td>
          </tr>

          <tr>
            <td> Compras a credito </td>
            <td style="text-aling:right"> {{_global.ComprasCredito1}} </td>
            <td style="text-aling:right"> {{_global.ComprasCredito2}} </td>
          </tr>

          <tr>
            <td> Rec Cuentas por cobrar </td>
            <td style="text-aling:right"> {{_global.RecCxP}} </td>
            <td style="text-aling:right"> {{_global.RecCxP2}} </td>
          </tr>






 </table>
</div>
