<div class="main-content" >
  <table  class="table table-striped" border="1">

    <tr>
      <td> Periodos</td>
      <td> Primer Periodo</td>
      <td> Segundo Periodo</td>
    </tr>
    <tr>
      <td> Margen bruto​ de utilidad </td>
      <td style="text-aling:right"> {{(_global.ventas1 - _global.costoVentas1)/_global.ventas1}}  </td>
      <td style="text-aling:right"> {{(_global.ventas2 - _global.costoVentas2)/_global.ventas2  }}  </td>
    </tr>
     <tr>
       <td> Margen de utilidades operacionales </td>
       <td style="text-aling:right"> {{0}} </td>
       <td style="text-aling:right"> {{0}} </td>
     </tr>

 </table>
</div>
