<div class="main-content">
  <table  class="table table-striped" border="1">

    <tr>
      <td> Periodos</td>
      <td> Primer Periodo</td>
      <td> Segundo Periodo</td>
    </tr>
    <tr>
      <td> Razón de endeudamiento </td><!-- dividiendo el pasivo total entre el activo total -->
      <td style="text-aling:right"> {{((_global.cuentasPorPagar1 + _global.pasivoAlargoPlazo1) / ((_global.Efectivo1 + _global.cuentasPorCobrar1 + _global.inventarios1) + _global.activoFijoNeto1)).toFixed(3)}}  </td>
      <td style="text-aling:right"> {{((_global.cuentasPorPagar2 + _global.pasivoAlargoPlazo2) / ((_global.Efectivo2 + _global.cuentasPorCobrar2 + _global.inventarios2) + _global.activoFijoNeto2)).toFixed(3) }}  </td>
    </tr>
     <tr>
       <td> Razón pasivo capital </td><!-- dividiendo el pasivo  a largo plazo entre el capital contable.   -->
       <td style="text-aling:right"> {{( _global.pasivoAlargoPlazo1 / (((_global.Efectivo1 + _global.cuentasPorCobrar1 + _global.inventarios1) + _global.activoFijoNeto1) - (_global.cuentasPorPagar1 + _global.pasivoAlargoPlazo1))).toFixed(3) }} </td>
       <td style="text-aling:right"> {{( _global.pasivoAlargoPlazo2 / (((_global.Efectivo2 + _global.cuentasPorCobrar2 + _global.inventarios2) + _global.activoFijoNeto2) - (_global.cuentasPorPagar2 + _global.pasivoAlargoPlazo2))).toFixed(3) }} </td>
     </tr>

 </table>


</div>
