<div class="main-content" >
  <table  class="table table-striped" border="1">

    <tr>
      <td> Periodos</td>
      <td> Primer Periodo</td>
      <td> Segundo Periodo</td>
    </tr>
    <tr>
      <td> Razón de endeudamiento </td>
      <td style="text-aling:right"> {{0}}  </td>
      <td style="text-aling:right"> {{0}}  </td>
    </tr>
     <tr>
       <td> Razón pasivo capital </td>
       <td style="text-aling:right"> {{0}} </td>
       <td style="text-aling:right"> {{0}} </td>
     </tr>

 </table>
</div>
